@model IEnumerable<Blog.DAL.Classes.Tag>
@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@section SelectedList{
    <script>
        $('li.item:nth-of-type(4)').addClass("active")

/**/</script>
}
<div class="container">
    <div class="row">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Tags</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>

                            <th width="50px"><a class="btn btn-success" onclick="AddTag()">Add</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>
                                    <a onclick="DeleteTag(@item.ID)"><i class="fa fa-remove fa-lg fa-2x"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

<script>
    function DeleteTag(ID) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )
                $.ajax({
                    url: "/Admin/DeleteTag",
                    type: "POST",
                    data: { ID },
                    success: function myfunction() {
                        location.reload();
                    },
                    error: function myfunction() {

                    }
                });
            }
        })
    }

    function AddTag() {
        Swal.fire({
            title: 'Submit Tag Name',
            input: 'text',
            inputAttributes: {
                autocapitalize: 'off'
            },
            showCancelButton: true,
            confirmButtonText: 'Add Tag',
            showLoaderOnConfirm: true,
            preConfirm: (name) => {
                $.ajax({
                    url: '/Admin/AddTag',
                    type: 'POST',
                    data: { name },
                    success: function myfunction() {
                        location.reload();
                    },
                    error: function myfunction() {

                    }
                });
            },
            allowOutsideClick: () => !Swal.isLoading()
        });
    }
</script>